<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AMD with RequireJS</title>
</head>
<body>
    <p>
        <a href="?">Home</a>
    </p>
    <ol>
        <li><a href="?page=app/pages/dom-ready">domReady plugin</a></li>
        <li><a href="?page=app/pages/relative-path">Relative module path</a></li>
        <li><a href="?page=app/pages/text-plugin">text plugin</a></li>
        <li><a href="?page=app/pages/i18n-plugin">i18n plugin</a></li>
        <li><a href="?page=app/pages/i18n-plugin&amp;locale=pl">i18n plugin - PL</a></li>
        <li><a href="?page=app/pages/non-amd-scripts">Non-AMD scripts</a></li>
    </ol>

@{
    var config = new {
        baseUrl = Href("~/Public"),
        waitSeconds = Context.IsDebuggingEnabled ? 3 : 120,
        urlArgs = Context.IsDebuggingEnabled
            ? "bust=" + DateTime.UtcNow.Ticks
            : "v=" + "app version here"
    };

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
    <script>
    var require = @Html.Raw(serializer.Serialize(config));
    </script>
    <script src="~/Public/lib/requirejs/require.js" data-main="app/main"></script>
</body>
</html>

