<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AMD with RequireJS</title>
</head>
<body>

@{
    var config = new {
        baseUrl = Href("~/Public"),
        waitSeconds = Context.IsDebuggingEnabled ? 3 : 120,
        urlArgs = Context.IsDebuggingEnabled
            ? "bust=" + DateTime.UtcNow.Ticks
            : "v=" + "app version here"
    };

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
    <script>
    var require = @Html.Raw(serializer.Serialize(config));
    </script>
    <script src="~/Public/lib/requirejs/require.js" data-main="app/main"></script>
</body>
</html>
